.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__info .nav__list {
  display: flex;
  align-items: center;
  gap: 43px;
  list-style: none;
  padding: 0;
}
.header__info .nav__item {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}
.header__info .nav__item:hover {
  color: #5FB4A2;
}

label {
  display: none;
}

.hero {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
  background-image: url("/imgs/dectop_hero.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__description {
  width: 445px;
  padding: 56px 55px 0 0;
  background-color: white;
}
.hero__text {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: #33323D;
}
.hero__btn {
  display: block;
  border: none;
  align-items: center;
  gap: 5px;
  background: #203A4C;
  padding: 12px 15px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}
.aboutme__img {
  width: 540px;
  height: 600px;
  background-image: url("../imgs/dectob_about.jpg");
  background-repeat: no-repeat;
}
.aboutme__descritiom {
  width: 350px;
}
.aboutme__text {
  margin: 0 0 28px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}
.aboutme__paragrft {
  padding-bottom: 0 0 24px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.aboutme__btn {
  margin: 20px 0 50px;
  padding: 17px 36px;
  background-color: white;
  border: 1px solid #33323D;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}
.aboutme__list {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
  background: #33323D;
  mix-blend-mode: normal;
  opacity: 0.15;
}

.projeck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}
.projeck__text {
  max-width: 350px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}
.projeck__list {
  display: block;
  width: 540px;
  height: 1px;
  background: #33323D;
  mix-blend-mode: normal;
  opacity: 0.15;
}
.projeck__btn {
  padding: 17px 36px;
  background-color: white;
  border: 1px solid #33323D;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.footer {
  background: #33323D;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 48px;
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 43px;
  list-style: none;
  padding: 0;
}
.footer__item {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
.footer__item:hover {
  color: #5FB4A2;
}
.footer__cocel {
  display: flex;
  gap: 15px;
}
.footer__cocel a {
  text-decoration: none;
}
.footer__cocel:hover {
  color: aqua;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .projeck__list {
    width: 301px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .projeck__btn {
    width: 226px;
  }
  .projeck__list {
    display: block;
    width: 250px;
  }
  .hero__description {
    padding: 0;
  }
  .aboutme__img {
    width: 300px;
    height: 590px;
    background-image: url("../imgs/dectob_about.jpg");
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 991px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .aboutme {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
  }
  .aboutme__img {
    height: 691px;
    background-size: cover;
  }
  .projeck__text {
    font-size: 33px;
  }
  .aboutme__descritiom {
    width: 350px;
  }
  .hero__description {
    max-width: 514px;
    padding: 0;
  }
  .hero__text {
    font-size: 40px;
  }
  .aboutme__paragrft {
    width: 315px;
    margin-bottom: 60px;
  }
  .projeck__btn {
    padding: 17px 0;
  }
  .projeck__list {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .footer__list {
    gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    max-width: 310px;
  }
  .hero {
    background-size: 100% 217px;
  }
  .aboutme {
    flex-direction: column;
  }
  .aboutme__img {
    background-size: 311px 346px;
  }
  .aboutme__img {
    height: 360px;
  }
  .aboutme__list {
    max-width: 297px;
  }
  nav {
    display: none;
  }
  .hero__btn {
    padding: 18px 22px;
  }
  label {
    display: block;
  }
  .aboutme__descritiom {
    max-width: 246px;
  }
  .projeck {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
  }
  .footer__list {
    flex-direction: column;
  }
  .projeck__list {
    display: none;
  }
  .projeck__text {
    width: 258px;
  }
  .footer__logo {
    flex-direction: column;
  }
  .footer__info {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    max-width: 280px;
  }
  .aboutme__img {
    background-size: 270px 346px;
  }
  .aboutme__list {
    width: 270px;
  }
  .aboutme__paragrft {
    width: 275px;
  }
}/*# sourceMappingURL=all.css.map */